
#!/usr/bin/env bash

[Desktop Entry]
Name=Radio
Type=Application
Exec=lxterminal -t "Radio" --working-directory=/home/alexan/RaspiPlayer/ -e ./radio.sh alexan
Icon=/home/alexan/RaspiPlayer/icon.png
Comment=test
Terminal=true

